@use "breakpoints";
@use "_variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito+Sans:opsz@6..12&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$text-element-font-family;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1em;
  background: linear-gradient(45deg, #a5402d, #ffc07f, #a5402d);
  @include breakpoints.desktop() {
    gap: 1.5em;
  }

  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100px;

    .headerTitle {
      font-family: v.$list-font-family;
    }
  }

  #createListSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    background-color: #a5402d;

    @include breakpoints.desktop() {
      width: 50%;
    }

    .listTitle {
      font-family: v.$list-font-family;
      font-size: 1.2em;
      color: white;
      @include breakpoints.desktop() {
        font-size: 1.5em;
      }

      .penIcon {
        width: 25px;
        animation: wobble 3s ease infinite;
        @include breakpoints.desktop() {
          width: 30px;
        }
      }

      @keyframes wobble {
        0%,
        100% {
          transform: rotate(0deg);
        }
        15%,
        45%,
        75% {
          transform: rotate(-5deg);
        }
        30%,
        60% {
          transform: rotate(5deg);
        }
      }
    }

    .listForm {
      display: flex;
      width: 80%;
      @include breakpoints.desktop() {
        width: 60%;
      }

      .taskInput {
        padding: 0.5em;
        width: 70%;
        border: solid 0.5px black;
        @include breakpoints.desktop() {
          width: 80%;
          font-size: 1em;
        }
      }

      .taskInput:focus {
        outline: none;
      }

      .submitButton {
        width: 30%;
        padding: 0.5em;
        top: 0;
        right: 0;
        background-color: #f15156;
        color: white;
        border: solid 0.5px black;

        border-left: none;
        cursor: pointer;
        @include breakpoints.desktop() {
          width: 20%;
          font-size: 1em;
        }
      }
    }
  }

  #taskSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 350px;
    padding: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #a5402d;
    @include breakpoints.desktop() {
      width: 50%;
      height: 370px;
    }

    .sortButton {
      width: 20%;
      padding: 0.5em;
      top: 0;
      right: 0;
      background-color: #f15156;
      color: white;
      border: solid 0.5px black;
      cursor: pointer;
      @include breakpoints.desktop() {
        width: 10%;
        font-size: 1em;
      }
    }

    .newList {
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      overflow-y: auto;
      width: 100%;
      height: 85%;
      padding: 1em 1em;
      list-style: none;
      box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
      background-image: url("/src/img/notepad.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include breakpoints.desktop() {
        width: 100%;
        font-size: 1.2em;
      }

      .listItem {
        display: flex;
        flex-grow: unset;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        font-family: v.$list-font-family;

        .buttonContainer {
          display: flex;
          gap: 0.5em;

          .checkButton {
            width: 30px;
            height: 30px;
            background-color: #f15156;
            color: white;
            border: none;
            border: solid 0.5px black;
            font-size: 1em;
            cursor: pointer;
          }

          .removeButton {
            width: 30px;
            height: 30px;
            background-color: #f15156;
            color: white;
            border: none;
            border: solid 0.5px black;
            font-size: 1em;
            cursor: pointer;
          }
        }
      }
    }
  }
  .clearAllButton {
    width: 30%;
    padding: 0.5em;
    top: 0;
    right: 0;
    background-color: #f15156;
    color: white;
    border: solid 0.5px black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    @include breakpoints.desktop() {
      width: 10%;
      font-size: 1em;
    }
  }
}
